#user-settings-comp {
  .user-settings-area {
    background-color: #f6f6ff;
    padding: 20px;
    h1 {
      text-decoration: underline;
      text-align: -webkit-center;
      font-weight: 600;
    }
    h2 {
      text-decoration: underline;
      font-weight: 600;
    }
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 5px solid rgba(0, 0, 0, 0.1);
    }
  }
}
